<!DOCTYPE html>
<html>
  <head>
    <title>Shmuora - A place to share knowledge and better understand the world.</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta property="og:title" content="Shmuora" />
    <meta property='og:image' content="<%= image_url('shmuora_linkedin.png') %>"/>
    <meta property="og:description"
      content="Shmuora is a full-stack clone of Quora built with the Rails-React-Redux stack. Users can signup, login, logout, post, comment, delete their posts and comments."
    />
    <meta property="og:url"
      content="http://shmuora.herokuapp.com/"
    />
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.home_logo = "<%= image_url('home.png') %>";
      window.github_logo = "<%= image_url('github.png') %>";
      window.linkedin_logo = "<%= image_url('linkedin.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
